.add-item {
  width: 50%;
  height: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.Total {
  color: #999;
  margin: 10px;
}
.add-item-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #2d2d2d;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}
.close-form {
  color:crimson;
  background-color: rgba(220, 20, 60, 0.071);
  padding: 2px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 10px;
}

.add-item-form label {
  margin-bottom: 8px;
  font-size: 16px;
  color: #e8e2e2;
}

.add-item-form input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ffffff36;
  font-size: 16px;
  color: #777;
  background-color: #2d2d2d;
  outline: none;
  transition: border-color 0.3s ease;
}

.add-item-form input:focus {
  border-color: #5e72e4;
  box-shadow: 0px 0px 5px rgba(94, 114, 228, 0.3);
}

.add-item-form button {
  padding: 12px;
  background-color: #e5ba00;
  color: rgb(21, 21, 21);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-item-form button:hover {
  background-color: #e5bb00bb;
}
