.navbar {
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out elements */
  padding: 0 20px; /* Add padding for spacing */
  background: rgba(255, 255, 255, 0.1); /* Slight transparent background */
  z-index: 1000;
}

.navlinks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  list-style: none;
  margin: 0px 20px;
}

.logo img {
  height: 50px; /* Reduce logo size */
  width: auto;
  margin-left: 10px; /* Add spacing from edge */
}

.register {
  background-color: #f6ce0356;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 30px;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.register:hover {
  background-color: #f6ce0380;
}

.aait-logo {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Ensure it's a perfect square */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image fills the circle properly */
}

@media (max-width: 522px) {
  .navbar {
    justify-content: center;
  }

  .navlinks {
    justify-content: space-around;
  }

  .logo img {
    height: 40px; /* Adjust for smaller screens */
  }
}
